<style type="text/css">
    .fh5co-nav-style-1, .fh5co-nav-style-2 {
        position: fixed;
        z-index: 8;
        width: 100%;
        background-color: #fff;
        margin-top: 0px;
        padding: 10px;
    }
    @media screen and (max-width: 768px) {
        .fh5co-nav-style-1, .fh5co-nav-style-2 {
            margin-top: 20px;
        }
    }
    .fh5co-nav-style-1[data-offcanvass-position="fh5co-offcanvass-left"] .fh5co-nav-toggle, .fh5co-nav-style-2[data-offcanvass-position="fh5co-offcanvass-left"] .fh5co-nav-toggle {
        right: auto;
        top: auto;
        top: 0;
        left: 0;
        margin-top: -15px !important;
    }
    .fh5co-nav-style-1[data-offcanvass-position="fh5co-offcanvass-right"] .fh5co-nav-toggle, .fh5co-nav-style-2[data-offcanvass-position="fh5co-offcanvass-right"] .fh5co-nav-toggle {
        right: auto;
        top: auto;
        top: 0;
        right: 0;
        margin-top: -15px !important;
    }
    .fh5co-nav-style-1 .fh5co-logo, .fh5co-nav-style-2 .fh5co-logo {
        margin-top: 8px;
        position: relative;
    }
    .fh5co-nav-style-1 .fh5co-logo a, .fh5co-nav-style-2 .fh5co-logo a {
        font-size: 25px;
        color: #000;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 700;
    }
    .fh5co-nav-style-1 .fh5co-logo a:hover, .fh5co-nav-style-1 .fh5co-logo a:focus, .fh5co-nav-style-1 .fh5co-logo a:active, .fh5co-nav-style-2 .fh5co-logo a:hover, .fh5co-nav-style-2 .fh5co-logo a:focus, .fh5co-nav-style-2 .fh5co-logo a:active {
        text-decoration: none;
    }
    @media screen and (max-width: 768px) {
        .fh5co-nav-style-1 .fh5co-logo, .fh5co-nav-style-2 .fh5co-logo {
            text-align: center;
        }
    }
    @media screen and (max-width: 768px) {
        .fh5co-nav-style-1 .fh5co-link-wrap, .fh5co-nav-style-2 .fh5co-link-wrap {
            display: none;
        }
    }
    .fh5co-nav-style-1 .fh5co-link-wrap ul, .fh5co-nav-style-2 .fh5co-link-wrap ul {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .fh5co-nav-style-1 .fh5co-link-wrap ul li, .fh5co-nav-style-2 .fh5co-link-wrap ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline;
    }
    .fh5co-nav-style-1 .fh5co-link-wrap ul li a, .fh5co-nav-style-2 .fh5co-link-wrap ul li a {
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin: 0 15px;
        color: #000;
        font-size: 16px;
        padding: 10px 0;
    }
    @media screen and (max-width: 992px) {
        .fh5co-nav-style-1 .fh5co-link-wrap ul li a, .fh5co-nav-style-2 .fh5co-link-wrap ul li a {
            margin: 0 5px;
        }
    }
    .fh5co-nav-style-1 .fh5co-link-wrap ul li a:hover, .fh5co-nav-style-2 .fh5co-link-wrap ul li a:hover {
        text-decoration: none;
        color: #58ca7e;
    }
    .fh5co-nav-style-1 .fh5co-link-wrap ul li a:active, .fh5co-nav-style-1 .fh5co-link-wrap ul li a:focus, .fh5co-nav-style-2 .fh5co-link-wrap ul li a:active, .fh5co-nav-style-2 .fh5co-link-wrap ul li a:focus {
        text-decoration: none;
    }
    .fh5co-nav-style-1 .fh5co-link-wrap ul li a.call-to-action, .fh5co-nav-style-2 .fh5co-link-wrap ul li a.call-to-action {
        margin-top: 2px;
        border: 2px solid #58ca7e;
        background: #58ca7e;
        padding: 2px 15px !important;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
        color: #fff;
    }
    .fh5co-nav-style-1 .fh5co-link-wrap ul li a.call-to-action:hover, .fh5co-nav-style-2 .fh5co-link-wrap ul li a.call-to-action:hover {
        color: #000;
        border: 2px solid #45c46f;
        background: #45c46f;
    }
    .fh5co-nav-style-1 .fh5co-link-wrap ul li.active a, .fh5co-nav-style-2 .fh5co-link-wrap ul li.active a {
        color: #000;
    }
</style>
<nav class="fh5co-nav-style-1"  role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
    <div class="container" ng-init="checkForLogged()">
        <div class="col-lg-2 col-md-2 col-sm-2 fh5co-logo">
            <a href="#/" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
            <a href="#/">Sprint Up</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-center fh5co-link-wrap">
            <div class="row">
                <div class="col-md-6"> <input ng-model="search.keyword" type="text" class="form-control" placeholder="Judul, posisi atau perusahaan..." value="{{search.keyword}}"></div>
                <div class="col-md-4"><input ng-model="search.location" id="list-kota" class="form-control" placeholder="Lokasi..." value="{{search.location}}"/></div>
                <div class="col-md-2"><div ng-click="cari(search)" class="btn btn-primary btn-outline btn-md">Cari</div></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-right fh5co-link-wrap">
            <ul class="fh5co-special" data-offcanvass="yes">
                <li><a href="#/login" ng-click="loginToggle()">{{isLogged?'Logout':'Login'}}</a></li>
                <li><a href="" class="call-to-action" ng-click="postingJobToggle()">Pasang Lowongan</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="fh5co-blog-style-1">
    <div class="container" id="container">
        <div class="row p-b">
            <div class="col-md-2">
            </div>
            <div class="col-md-8" style="word-wrap: break-word;">
                adgaadgaadadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgagaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadgaadga
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>