<style type="text/css">
    .fh5co-nav-style-1, .fh5co-nav-style-2 {
        position: fixed;
        z-index: 8;
        width: 100%;
        background-color: #fff;
        margin-top: 0px;
        padding: 10px;
    }

    @media screen and (max-width: 768px) {
        .fh5co-nav-style-1, .fh5co-nav-style-2 {
            margin-top: 20px;
        }
    }

    .fh5co-nav-style-1[data-offcanvass-position="fh5co-offcanvass-left"] .fh5co-nav-toggle, .fh5co-nav-style-2[data-offcanvass-position="fh5co-offcanvass-left"] .fh5co-nav-toggle {
        right: auto;
        top: auto;
        top: 0;
        left: 0;
        margin-top: -15px !important;
    }

    .fh5co-nav-style-1[data-offcanvass-position="fh5co-offcanvass-right"] .fh5co-nav-toggle, .fh5co-nav-style-2[data-offcanvass-position="fh5co-offcanvass-right"] .fh5co-nav-toggle {
        right: auto;
        top: auto;
        top: 0;
        right: 0;
        margin-top: -15px !important;
    }

    .fh5co-nav-style-1 .fh5co-logo, .fh5co-nav-style-2 .fh5co-logo {
        margin-top: 8px;
        position: relative;
    }

    .fh5co-nav-style-1 .fh5co-logo a, .fh5co-nav-style-2 .fh5co-logo a {
        font-size: 25px;
        color: #000;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 700;
    }

    .fh5co-nav-style-1 .fh5co-logo a:hover, .fh5co-nav-style-1 .fh5co-logo a:focus, .fh5co-nav-style-1 .fh5co-logo a:active, .fh5co-nav-style-2 .fh5co-logo a:hover, .fh5co-nav-style-2 .fh5co-logo a:focus, .fh5co-nav-style-2 .fh5co-logo a:active {
        text-decoration: none;
    }

    @media screen and (max-width: 768px) {
        .fh5co-nav-style-1 .fh5co-logo, .fh5co-nav-style-2 .fh5co-logo {
            text-align: center;
        }
    }

    @media screen and (max-width: 768px) {
        .fh5co-nav-style-1 .fh5co-link-wrap, .fh5co-nav-style-2 .fh5co-link-wrap {
            display: none;
        }
    }

    .fh5co-nav-style-1 .fh5co-link-wrap ul, .fh5co-nav-style-2 .fh5co-link-wrap ul {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .fh5co-nav-style-1 .fh5co-link-wrap ul li, .fh5co-nav-style-2 .fh5co-link-wrap ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline;
    }

    .fh5co-nav-style-1 .fh5co-link-wrap ul li a, .fh5co-nav-style-2 .fh5co-link-wrap ul li a {
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin: 0 15px;
        color: #000;
        font-size: 16px;
        padding: 10px 0;
    }

    @media screen and (max-width: 992px) {
        .fh5co-nav-style-1 .fh5co-link-wrap ul li a, .fh5co-nav-style-2 .fh5co-link-wrap ul li a {
            margin: 0 5px;
        }
    }

    .fh5co-nav-style-1 .fh5co-link-wrap ul li a:hover, .fh5co-nav-style-2 .fh5co-link-wrap ul li a:hover {
        text-decoration: none;
        color: #58ca7e;
    }

    .fh5co-nav-style-1 .fh5co-link-wrap ul li a:active, .fh5co-nav-style-1 .fh5co-link-wrap ul li a:focus, .fh5co-nav-style-2 .fh5co-link-wrap ul li a:active, .fh5co-nav-style-2 .fh5co-link-wrap ul li a:focus {
        text-decoration: none;
    }

    .fh5co-nav-style-1 .fh5co-link-wrap ul li a.call-to-action, .fh5co-nav-style-2 .fh5co-link-wrap ul li a.call-to-action {
        margin-top: 2px;
        border: 2px solid #58ca7e;
        background: #58ca7e;
        padding: 2px 15px !important;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
        color: #fff;
    }

    .fh5co-nav-style-1 .fh5co-link-wrap ul li a.call-to-action:hover, .fh5co-nav-style-2 .fh5co-link-wrap ul li a.call-to-action:hover {
        color: #000;
        border: 2px solid #45c46f;
        background: #45c46f;
    }

    .fh5co-nav-style-1 .fh5co-link-wrap ul li.active a, .fh5co-nav-style-2 .fh5co-link-wrap ul li.active a {
        color: #000;
    }
    .fh5co-blog-style-1 .fh5co-post .fh5co-post-text {
        padding: 20px;
        height: 200px;
    }
</style>
<nav class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
    <div class="container" ng-init="checkForLogged()">
        <div class="col-lg-2 col-md-2 col-sm-2 fh5co-logo">
            <a href="#/" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
            <a href="#/">Sprint Up</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-center fh5co-link-wrap">
            <div class="row">
                <div class="col-md-6"><input ng-model="search.keyword" type="text" class="form-control"
                                             placeholder="Judul, posisi atau perusahaan..." value="{{search.keyword}}">
                </div>
                <div class="col-md-4"><input ng-model="search.location" id="list-kota" class="form-control"
                                             placeholder="Lokasi..." value="{{search.location}}"/></div>
                <div class="col-md-2">
                    <div ng-click="cari(search)" class="btn btn-primary btn-outline btn-md">Cari</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-right fh5co-link-wrap">
            <ul class="fh5co-special" data-offcanvass="yes">
                <li><a href="#/login" ng-click="loginToggle()">{{isLogged?'Logout':'Login'}}</a></li>
                <li><a href="" class="call-to-action" ng-click="postingJobToggle()">Pasang Lowongan</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="fh5co-blog-style-1">
    <div class="container" id="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center" ng-if="results.data!=undefined">
                <h2 class="fh5co-heading wow fadeIn" data-wow-duration="1s" >Hasil pencarian</h2>
                <p class="wow fadeIn" data-wow-duration="1s">Ditemukan {{results.data.length}} lowongan pekerjaan yang sesuai dengan kriteria
                    pencarian Anda </p>
            </div>
        </div>
        <div class="row p-b">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12" ng-repeat="(key,result) in results.data">
                <div class="fh5co-post wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
                    <div class="fh5co-post-image">
                        <div class="fh5co-overlay"></div>
                        <div class="fh5co-category"><a href="#/">{{trimText(result.company,20)}}</a></div>
                        <div ng-style="{'height':'200px','background-color':results.color[key]}"></div>
                    </div>
                    <div class="fh5co-post-text">
                        <h3><a href="#/">{{result.title}}</a></h3>
                        <p id="job-description">{{trimText(result.description,200)}}</p>
                    </div>
                    <div class="fh5co-post-meta">
                        <a href="#/"><i class="icon-location"></i>{{trimText(result.location,20)}}</a>
                        <a href="#/"><i class="icon-clock2"></i><span am-time-ago="result.created"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center wow fadeIn" data-wow-duration="1s" >
                <a href="#/" class="btn btn-primary btn-lg" ng-if="results.data==undefined">Tidak ada hasil</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var input = document.getElementById("list-kota");
    new Awesomplete(input, {
        list: ["DKI Jakarta", "Jakarta Pusat", "Jakarta Barat", "Jakarta Selatan", "Jakarta Timur", "Jakarta Utara", "Kepulauan Seribu", "Banten", "Tangerang", "Tangerang Selatan", "Serang", "Pandeglang", "Lebak", "Cilegon", "Jawa Barat", "Bogor", "Depok", "Bekasi", "Bandung", "Bandung Barat", "Cimahi", "Purwakarta", "Subang", "Karawang", "Sukabumi", "Cianjur", "Garut", "Cirebon", "Indramayu", "Sumedang", "Majalengka", "Kuningan", "Tasikmalaya", "Ciamis", "Pangandaran", "Banjar", "Sumatera Utara", "Medan", "Deli Serdang", "Tebing Tinggi", "Binjai", "Langkat", "Serdang Bedagai", "Pematang Siantar", "Simalungun", "Asahan", "Batu Bara", "Tanjung Balai", "Labuhan Batu", "Labuhan Batu Utara", "Labuhan Batu Selatan", "Karo", "Dairi", "Pakpak Bharat", "Toba Samosir", "Samosir", "Tapanuli Utara", "Humbang Hasundutan", "Sibolga", "Tapanuli Tengah", "Padang Sidempuan", "Tapanuli Selatan", "Padang Lawas Utara", "Padang Lawas", "Gunungsitoli", "Nias Barat", "Nias Utara", "Nias", "Nias Selatan", "Mandailing Natal", "Nanggroe Aceh Darussalam (NAD)", "Banda Aceh", "Aceh Besar", "Sabang", "Aceh Barat", "Aceh Jaya", "Nagan Raya", "Aceh Selatan", "Aceh Barat Daya", "Simeulue", "Pidie", "Pidie Jaya", "Bireuen", "Lhokseumawe", "Aceh Utara", "Langsa", "Aceh Timur", "Aceh Tamiang", "Aceh Tengah", "Bener Meriah", "Aceh Tenggara", "Gayo Lues", "Subulussalam", "Aceh Singkil", "Sumatera Barat", "Padang", "Kepulauan Mentawai", "Pariaman", "Padang Pariaman", "Pesisir Selatan", "Bukittinggi", "Agam", "Payakumbuh", "Lima Puluh Koto/kota", "Pasaman", "Pasaman Barat", "Padang Panjang", "Tanah Datar", "Solok", "Sawah Lunto", "Sijunjung (SAWAH Lunto Sijunjung)", "Dharmasraya", "Solok Selatan", "Riau", "Pekanbaru", "Pelalawan", "Kampar", "Rokan Hulu", "Siak", "Bengkalis", "Kepulauan Meranti", "Dumai", "Rokan Hilir", "Indragiri Hilir", "Indragiri Hulu", "Kuantan Singingi", "Kepulauan Riau", "Tanjung Pinang", "Bintan", "Batam", "Karimun", "Natuna", "Kepulauan Anambas", "Lingga", "Sumatera Selatan", "Palembang", "Ogan Komering Ilir", "Ogan Ilir", "Musi Banyuasin", "Musi Rawas", "Banyuasin", "Prabumulih", "Muara Enim", "Lahat", "Empat Lawang", "Pagar Alam", "Lubuk Linggau", "Ogan Komering ULU", "Ogan Komering ULU Timur", "Ogan Komering ULU Selatan", "Bangka Belitung", "Pangkal Pinang", "Bangka", "Bangka Barat", "Belitung", "Belitung Timur", "Bangka Tengah", "Bangka Selatan", "Lampung", "Metro", "Lampung Tengah", "Lampung Timur", "Tulang Bawang Barat", "Lampung Utara", "Tulang Bawang", "Mesuji", "WAY Kanan", "Lampung Barat", "Pesisir Barat", "Bandar Lampung", "Lampung Selatan", "Pesawaran", "Pringsewu", "Tanggamus", "Jambi", "Jambi", "Muaro Jambi", "Tanjung Jabung Barat", "Tanjung Jabung Timur", "Batang Hari", "Sungaipenuh", "Kerinci", "Bungo", "Tebo", "Merangin", "Sarolangun", "Bengkulu", "Bengkulu", "Bengkulu Utara", "Bengkulu Tengah", "Bengkulu Selatan", "Muko Muko", "Seluma", "Kaur", "Rejang Lebong", "Lebong", "Kepahiang", "Jawa Tengah", "Semarang", "Salatiga", "Pekalongan", "Batang", "Kendal", "Tegal", "Brebes", "Pemalang", "Banyumas", "Cilacap", "Purbalingga", "Banjarnegara", "Purworejo", "Kebumen", "Magelang", "Temanggung", "Wonosobo", "Surakarta (SOLO)", "Sukoharjo", "Karanganyar", "Sragen", "Boyolali", "Klaten", "Wonogiri", "Grobogan", "Blora", "Pati", "Rembang", "Kudus", "Jepara", "Demak", "DI Yogyakarta", "Yogyakarta", "Bantul", "Sleman", "Kulon Progo", "Gunung Kidul", "Jawa Timur", "Surabaya", "Gresik", "Sidoarjo", "Mojokerto", "Jombang", "Bojonegoro", "Lamongan", "Tuban", "Madiun", "Magetan", "Ngawi", "Ponorogo", "Pacitan", "Kediri", "Nganjuk", "Malang", "Batu", "Blitar", "Tulungagung", "Trenggalek", "Pasuruan", "Probolinggo", "Lumajang", "Jember", "Bondowoso", "Situbondo", "Banyuwangi", "Bangkalan", "Sampang", "Pamekasan", "Sumenep", "Kalimantan Selatan", "Banjarmasin", "Barito Kuala", "Banjar", "Banjarbaru", "Tanah Laut", "Tapin", "Hulu Sungai Selatan", "Hulu Sungai Tengah", "Hulu Sungai Utara", "Tabalong", "Balangan", "Kotabaru", "Tanah Bumbu", "Kalimantan Tengah", "Palangka Raya", "Kapuas", "Barito Timur", "Barito Selatan", "Barito Utara", "Murung Raya", "Kotawaringin Barat", "Lamandau", "Sukamara", "Seruyan", "Kotawaringin Timur", "Katingan", "Gunung MAS", "Pulang Pisau", "Kalimantan Timur", "Samarinda", "Kutai Kartanegara", "Bontang", "Kutai Timur", "Kutai Barat", "Balikpapan", "Penajam Paser Utara", "Paser", "Berau", "Kalimantan Utara", "Tarakan", "Tana Tidung", "Malinau", "Bulungan (BULONGAN)", "Nunukan", "Kalimantan Barat", "Pontianak", "Kubu Raya", "Sanggau", "Sintang", "Kapuas Hulu", "Ketapang", "Kayong Utara", "Singkawang", "Sambas", "Bengkayang", "Landak", "Sekadau", "Melawi", "Bali", "Denpasar", "Badung", "Gianyar", "Bangli", "Klungkung", "Karangasem", "Buleleng", "Tabanan", "Jembrana", "Nusa Tenggara Barat (NTB)", "Mataram", "Lombok Barat", "Lombok Utara", "Lombok Tengah", "Lombok Timur", "Bima", "Dompu", "Sumbawa", "Sumbawa Barat", "Nusa Tenggara Timur (NTT)", "Kupang", "Sabu Raijua", "Timor Tengah Selatan", "Timor Tengah Utara", "Belu", "Alor", "Rote Ndao", "Sikka", "Ende", "Flores Timur", "Ngada", "Nagekeo", "Manggarai", "Manggarai Timur", "Lembata", "Manggarai Barat", "Sumba Timur", "Sumba Barat", "Sumba Barat Daya", "Sumba Tengah", "Sulawesi Selatan", "Makassar", "Gowa", "Bone", "Maros", "Pangkajene Kepulauan", "Barru", "Soppeng", "Wajo", "Parepare", "Pinrang", "Sidenreng Rappang/rapang", "Sinjai", "Enrekang", "Tana Toraja", "Toraja Utara", "Luwu Utara", "Palopo", "Luwu", "Luwu Timur", "Takalar", "Jeneponto", "Bantaeng", "Bulukumba", "Selayar (KEPULAUAN Selayar)", "Sulawesi Barat", "Polewali Mandar", "Mamuju", "Mamasa", "Majene", "Mamuju Utara", "Sulawesi Tenggara", "Kendari", "Konawe", "Konawe Utara", "Konawe Selatan", "Kolaka", "Muna", "Buton Utara", "Bau-bau", "Buton", "Bombana", "Wakatobi", "Kolaka Utara", "Sulawesi Tengah", "Palu", "Sigi", "Donggala", "Parigi Moutong", "Toli-toli", "Buol", "Poso", "Tojo Una-una", "Banggai", "Banggai Kepulauan", "Morowali", "Sulawesi Utara", "Manado", "Minahasa Selatan", "Minahasa Utara", "Minahasa", "Tomohon", "Bitung", "Kotamobagu", "Bolaang Mongondow (BOLMONG)", "Bolaang Mongondow Utara", "Bolaang Mongondow Selatan", "Bolaang Mongondow Timur", "Kepulauan Sangihe", "Kepulauan Siau Tagulandang Biaro (SITARO)", "Kepulauan Talaud", "Minahasa Tenggara", "Gorontalo", "Gorontalo", "Gorontalo Utara", "Boalemo", "Pohuwato", "Bone Bolango", "Maluku", "Ambon", "Maluku Barat Daya", "Maluku Tenggara Barat", "Maluku Tengah", "Buru Selatan", "Seram Bagian Timur", "Seram Bagian Barat", "Buru", "Maluku Tenggara", "Tual", "Kepulauan ARU", "Maluku Utara", "Ternate", "Halmahera Barat", "Halmahera Utara", "Halmahera Selatan", "Pulau Morotai", "Kepulauan Sula", "Tidore Kepulauan", "Halmahera Tengah", "Halmahera Timur", "Papua", "Biak Numfor", "Supiori", "Kepulauan Yapen (YAPEN Waropen)", "Waropen", "Mamberamo Raya", "Paniai", "Deiyai (DELIYAI)", "Intan Jaya", "Nabire", "Dogiyai", "Puncak Jaya", "Puncak", "Jayapura", "Sarmi", "Keerom", "Jayawijaya", "Mamberamo Tengah", "Lanny Jaya", "Tolikara", "Nduga", "Yahukimo", "Pegunungan Bintang", "Yalimo", "Merauke", "Boven Digoel", "Asmat", "Mappi", "Mimika", "Papua Barat", "Manokwari", "Pegunungan Arfak", "Manokwari Selatan", "Teluk Wondama", "Teluk Bintuni", "Tambrauw", "Sorong", "Sorong Selatan", "Maybrat", "Raja Ampat", "Fakfak", "Kaimana"]
    });
    /*console.log(palette.random(300));
     document.getElementById('container')
     .style['background-color'] = palette.random(300);*/
</script>