<div class="fh5co-footer-style-3">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-4 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
						<div class="fh5co-logo"><span class="logo">SU</span> Sprint Up</div>
						<p class="fh5co-copyright">&copy; 2016 Sprint Up. <br>All Rights Reserved.
					</div>
					<div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
						<h3>Kontak</h3>
						<ul class="fh5co-links fh5co-social">
							<li><a href="https://www.facebook.com/7thJOURNAL"><i class="icon icon-facebook2"></i> Jaga My Priera</a></li>
							<li><a href="https://www.facebook.com/chandra.hadiansyah?fref=ts"><i class="icon icon-facebook2"></i> Chandra Hadiansyah</a></li>
						</ul>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
						<h3>Tentang</h3>
						<p>Website ini dibuat untuk tugas akhir matakuliah Aplikasi Teknologi online Universitas Komputer Indonesia </p>
						<p><a href="#" class="btn btn-success btn-sm btn-outline">Tinggalkan pesan</a></p>
					</div>
					<div class="clearfix visible-sm-block"></div>
				</div>
			</div>
		</div>