<nav ng-controller="UserController" class="fh5co-nav-style-1  wow fadeInUp" data-wow-duration="1s"  role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
<div class="container">
	<div class="col-lg-2 col-md-2 col-sm-2 fh5co-logo">
		<a href="#/" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
		<a href="#/">Jobber</a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 text-center fh5co-link-wrap">
	<div class="row">
			<div class="col-md-6"> <input ng-model="search.keyword" type="text" class="form-control" placeholder="Judul, posisi atau perusahaan..." value="{{search.keyword}}"></div>
			<div class="col-md-4"><input ng-model="search.location" id="list-kota" class="form-control" placeholder="Lokasi..." value="{{search.location}}"/></div>
			<div class="col-md-2"><div ng-click="cari(search)" class="btn btn-primary btn-outline btn-md">Cari</div></div>
		</div>
	</div> 
	<div class="col-lg-4 col-md-4 col-sm-4 text-right fh5co-link-wrap">
		<ul class="fh5co-special" data-offcanvass="yes">
			<li><a href="#/login">Login</a></li>
			<li><a href="#/" class="call-to-action">Pasang Lowongan</a></li>
		</ul>
	</div>
</div>
</nav>